@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #151618;
    font-family: "Arial", sans-serif;
    width: 100vw;
    height: 100vh;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        color: white;
    }

    h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: white;
    }
}

/* Кнопка для создания Telegram */
.telegramButton {
    display: flex;
    z-index: 10;

    .list-container {
        position: relative;

        &.active {
            .settingsModal {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }

            .settingsButton {
                .iconPencil {
                    opacity: 0;
                    transform: scale(0);
                }

                .iconClose {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    .settingsModal {
        display: flex;
        padding: 80px;
        position: absolute;
        bottom: -20px;
        right: -80px;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.8);
        transform-origin: bottom right;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0.2s ease-in-out;

        .other {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #212121;
            border-radius: 10px;
            padding: 5px;
            z-index: 5;

            .block {
                display: flex;
                position: relative;
                align-items: center;
                padding: 4px 0;
                cursor: pointer;
                overflow: hidden;
                border-radius: 5px;
                transition: transform 0.3s ease;

                .icon {
                    display: flex;
                    margin-left: 10px;
                    z-index: 2;
                }

                .title {
                    font-weight: 700;
                    font-size: 14px;
                    color: #ffffff;
                    margin-left: 15px;
                    z-index: 2;
                    white-space: nowrap;
                    margin-right: 10px;
                }

                &:active {
                    transform: scale(0.95);
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }

    .ripple {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        transform: scale(0);
        animation: ripple-animation 0.6s linear;
        pointer-events: none;
        z-index: 3;
    }

    .settingsButton {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #8474e1;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        z-index: 2;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        svg {
            position: absolute;
            transition: opacity 0.3s ease, transform 0.3s ease;
            transform-origin: center;
            will-change: opacity, transform;
        }

        .iconPencil {
            opacity: 1;
            transform: scale(1);
        }

        .iconClose {
            opacity: 0;
            transform: scale(0);
        }
    }
}
